<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Training Session | Add</title>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	
	<div class="row">
		 <div style="width: 30%; margin: 25px auto;">
		 <h2>Add New Training Session</h2>
		<form method="POST" th:action="@{/trainer/edittrainingsessions/} +${trainingSession.sessionId}">
		
		
		<div class="form-group">
		<label for="image">Topic: </label> <br>
    <input type="radio" id="contactChoice1"
     name="topic" value="Java(OOPS)">
    <label for="contactChoice1">Java(OOPS)</label>

    <input type="radio" id="contactChoice2"
     name="topic" value="Spring">
    <label for="contactChoice2">Spring</label>
		<br>    
    <input type="radio" id="contactChoice2"
     name="topic" value="Python(Web Development)">
    <label for="contactChoice2">Python(Web Development)</label>

    <input type="radio" id="contactChoice3"
     name="topic" value="ML">
    <label for="contactChoice3">ML</label>
    	<br>
		
		
				<div class="form-group">
		   <textarea class="form-control" cols="40" rows="5" name="description" th:field="*{trainingSession.description}" required></textarea>
		 </div>
		 <div class="form-group">
		  <input type="time" class="form-control" name="startTime" th:value="${trainingSession.startTime}" required>
		 </div>
		 <div class="form-group">
		  <input type="time" class="form-control" name="endTime" th:value="${trainingSession.endTime}" required>
		 </div>
		 <div class="form-group">
		  <input type="text" class="form-control" name="startDate" th:value="${trainingSession.startDate}" required>
		 </div>
		 <div class="form-group">
		  <input type="tetx" class="form-control" name="endDate" th:value="${trainingSession.endDate}" required>
		  </div>
		  <div class="form-group">
		  <input type="text" class="form-control" name="trainer" th:value="${trainingSession.trainer}" required>
		  </div>
		  <input type="submit" value="Submit" class="btn btn-primary">		
		</form> 
		</div>
		</div>
</div>
</body>
</html>	