
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/trainer"> ThoughtClan </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
               		<span th:if="${#ctx.containsVariable('sessionLogedin')}" >
                          <li>Login as <p th:text="${employeeEmail}"></p></li>
                          <li><a href="/logout">Logout</a></li>
                     </span>  
                     <span th:if="${not #ctx.containsVariable('sessionLogedin')}" >
                       <li><a href="/login">Login</a></li>
                       <li><a href="/register">Sign Up</a></li>
                     </span>
             
                </ul>
            </div>
        </div>
</nav>
