<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trainer</title>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
</head>
<body>	
<div th:include="@{/navbar.html}"></div>
<div class="container">
	<div class="jumbotron">
		<a class="btn btn-primary" th:href="@{'/trainer/addtrainingsessions'}">Add New</a>
	</div>
					<table  class="table table-hover">
					 		<tr>
			   				   <th> Topic</th>
		      				   <th>Description</th>
		      				   <th>Start Time</th>
		      				   <th>End Time</th>
		    				   <th>Start Date</th>
		      				   <th>End Date</th>
		      				   <th> Trainer</th>
		   			    	   <th> Edit/Delete</th>
			      			</tr>
			  			 <th:block th:each="trainingSession : ${trainingSessions}">
			  			    <tr>
			       			   <td th:text="${trainingSession.topic}"></td>
			      			   <td th:text="${trainingSession.description}"></td>
			   				   <td th:text="${trainingSession.startTime}"></td>
			      			   <td th:text="${trainingSession.endTime}"></td>
			      			   <td th:text="${trainingSession.startDate}"></td>
			      			   <td th:text="${trainingSession.endDate}"></td>
			      			   <td th:text="${trainingSession.trainer}"></td>
			      			   <td> 
			      			   		<a class="btn btn-sm btn-warning" th:href="@{/trainer/viewsessionemployee/} +${trainingSession.sessionId}">View</a>
			      				  	<a class="btn btn-sm btn-primary" th:href="@{/trainer/edittrainingsessions/} +${trainingSession.sessionId}">Edit</a> 
			      				   	<a class="btn btn-sm btn-danger" th:href="@{/trainer/deletetrainingsessions/} +${trainingSession.sessionId}">Delete</a> 
			      			   	</td>
			      			</tr>
			  			 </th:block>
					</table>
</div>
</body>
</html>
