<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trainer</title>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
</head>
<body>	
<div th:include="@{/navbar.html}"></div>
<div class="container">
	<div class="jumbotron">
		<div class="row">
		 <div style="width: 30%; margin: 25px auto;">
		 <h2>Join This Training Session</h2>
		<form form method="POST" th:action="@{/trainer/addsessionemployee/} +${sessionId}">
		   <!-- <div class="form-group">
		  <input type="hidden" class="form-control" name="trainingSession" th:value="${sessionId}" required>
		  </div> -->
		  <input type="submit" value="Register" class="btn btn-primary">
		
		</form> 
		</div>
	</div>
	</div>
					<table  class="table table-hover">
					 		<tr>
			   				  	 <th>Employee Name</th>
			      			</tr>
			  				<th:block th:each="sessionEmployee : ${employesSession}">
			  			    	<tr>
			       			  		 <td th:text="${sessionEmployee.eName}"></td>
			      				</tr>
			  			    </th:block>
					</table>
</div>
</body>
</html>
